<table class="@TableClassname" height="100px" width="280px">
  <tr>
    <td class="@NoClassname" rowspan="2" width="16px">
      <!--枠番-->
      @No
    </td>
    <td rowspan="2" width="90px" height="90px">
      <!--イメージ-->
    </td>
    <td class="top-right">
      <!--距離適正-->
      <!--芝適正-->
      <!--やる気-->
    </td>
  </tr>
  <tr>
    <td class="bottom-right">
      <table>
        <tr>
          <th scope="col"><img src="images/speed.png" width="20px" height="20px"/></th>
          <th scope="col"><img src="images/stamina.png" width="20px" height="20px"/></th>
          <th scope="col"><img src="images/power.png" width="20px" height="20px"/></th>
          <th scope="col"><img src="images/guts.png" width="20px" height="20px"/></th>
          <th scope="col"><img src="images/intelligence.png" width="20px" height="20px"/></th>
        </tr>
        <tr>
            <td width="36px">@Status.Speed</td>
            <td width="36px">@Status.Stamina</td>
            <td width="36px">@Status.Power</td>
            <td width="36px">@Status.Guts</td>
            <td width="36px">@Status.Intelligence</td>
          </tr>
        </table>
      </td>
    </tr>
</table>
